Repository eliyamelamed1/nextjs13-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.json": ["prettier --write"],
  "*.scss": ["stylelint", "prettier --write"]
}

fix(global): eslint didnt recognised prettier
  .idea/jsLinters/eslint.xml
  .idea/watcherTasks.xml
  package-lock.json
  package.json
  src/app/globals.scss
Due: prettier --write, stylelint

feature: installed ts-node
  package.json
  pnpm-lock.yaml
Due: prettier --write

feature: added markdown packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

added ts-reset
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feature: added hoc
  .eslintrc.js
  next.config.js
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/page.tsx
  src/components/ThemeRegistry.tsx
  src/hoc/WithAsyncComponent.tsx
  src/hoc/WithSuspense.tsx
Due: prettier --write, eslint

refactor: updated files strucature
  .prettierrc.js
  src/app/layout.tsx
  src/global/styles/globals.scss
Due: prettier --write, eslint, stylelint

refactor: updated files strucature
  src/global/hoc/WithAsyncComponent.tsx
  src/global/hoc/WithSuspense.tsx
Due: prettier --write, eslint

.
  TODO.txt
Due: none
